// Variables
$primary-color: #3A8DDE;
$secondary-color: #fff35f;
$text-color: #000;
$background-color: #46a9ff;
$mobile-img-w: 380px;

// Mixins
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile {
    display: none;
}

// Global styles
body {
    position: relative;
    width: 100vw;
    font-family: Arial, sans-serif;
    color: $text-color;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


.mobile-item {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    section {
        width: 1200px;
    }
}

.hero {
    @include flex-center;
    flex-direction: column;
    max-width: 1400px;
    width: 100%;
    position: relative;
}

.logo {
    position: absolute;
    top: 12px;
    img {
        width: 240px;
    }
}

.notes {
    @include flex-center;
    flex-direction: column;
    margin-top: 160px;
    margin-bottom: 160px;

    .notes-content {
        @include flex-center;
        max-width: 1200px;
        width: 100vw;
        margin-top: 40px;
        margin-bottom: 100px;
        .text {
            width: 80%;
            border: 2px white solid;;
            div {
                padding: 28px;
            }
            p {
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 10px;
                line-height: 32px;
            }
            a {
                text-decoration: none;
                color: red;
            }
        }
        
    }
}

.shop-list {
    @include flex-center;
    flex-direction: column;
    margin-top: 160px;  
    
    .shops {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;

        > a {
            padding: 12px;
            border: 2px solid gray;
            border-radius: 24px;
            margin-right: 20px;
        }
    }
}

.wave {
    position: absolute;
    bottom: 0;
    right: 0;
}

.footer {
    @include flex-center;
    position: absolute;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 40px;
    text-align: center;
}

@media (max-width: 1200px) {
    .hero {
        img {
            width: 100vw;
        }
    }

    .logo {
        img {
            width: 120px;
        }
    }
}

@media (max-width: 990px) {

    .notes {
        width: 100vw;

        .notes-content {
            width: 90%;
            img {
                display: none;
            }
            .text {
                width: 80%;
                p {
                    font-size: 24px;
                }
            }
        }
    }

    .shop-list {
        max-width: 680px;

        .shops {
            width: 100%;
            flex-wrap: wrap;
            justify-content: space-evenly;
            a {
                width: 240px;
                height: 240px;
                margin-bottom: 40px;
                img {
                    width: 100%;
                }
            }
        }
    }

    .wave {
        width: 50%;
    }

    .footer {
        bottom: 100px;
    }
}

@media (max-width: 750px) {

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header {
        img {
            width: $mobile-img-w;
        }
    }

    .logo {
        top: 8px;
        img {
            width: 80px;
        }
    }

    main { 
        section {
            width: 100vw;
        }
    }

    .hero-m {
        @include flex-center;
        flex-direction: column;
        img {
            width: $mobile-img-w;
        }
    }


    .notes {
        width: 100vw;
        margin-top: 60px;
        img {
            width: 136px;
        }
        .notes-content {
            width: 380px;
            margin-top: 0;
            img {
                display: none;
            }
            .text {
                width: 400px;
                div {
                    padding: 8px 12px;
                }
                p {
                    font-size: 18px;
                    line-height: 1.2em;
                }
            }
        }
    }

    .shop-list {
        margin-top: 60px;
        .shop-title {
            width: 300px;
        }
        .shops {
            width: 380px;
            flex-wrap: wrap;
            justify-content: space-evenly;
            a {
                width: 120px;
                height: 120px;
                margin-bottom: 20px;
                margin-right: 0;
                img {
                    width: 100%;
                }
            }
        }
    }

    footer {
        bottom: 136px;
    }
}
