// Variables
$primary-color: #3A8DDE;
$secondary-color: #fff35f;
$text-color: #000;
$background-color: #2c258e;
$mobile-img-w: 380px;

// Mixins
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile {
    display: none;
}

// Global styles
body {
    position: relative;
    width: 100vw;
    font-family: Arial, sans-serif;
    color: $text-color;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100vw;

    section {
        width: 1200px;
    }
}

.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 1428px;
    position: relative;
    background: top no-repeat url("../imgs/hero-bg.png");
    background-color: $background-color;

    .hero-main {
        margin-top: 100px;
        max-width: 1300px;
    }
}

.week {
    width: 100vw;
    height: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $background-color;
    position: relative;
    overflow: hidden;

    .week-content {
        max-width: 1160px;
        width: 100vw;
    }

    .gold {
        position: absolute;

        &.right {
            right: -388px;
            bottom: -336px;
        }

        &.left {
            left: -340px;
            top: 20px;
        }
    }
}

.logo {
    margin-top: 60px;
    img {
        width: 240px;
    }
}


.shop-list {
    @include flex-center;
    width: 100%;
    flex-direction: column;
    background: top no-repeat url("../imgs/week-bg.png");
    background-color: #2c258e;
    padding-bottom: 100px;

    .shop-title {
        margin-top: 200px;
        margin-bottom: 80px;
    }
    
    .shops {
        display: flex;
        justify-content: space-between;

        > a {
            padding: 12px;
            margin-right: 20px;
        }
    }
}

.notes {
    @include flex-center;
    flex-direction: column;
    width: 100%;
    padding-top: 140px;
    padding-bottom: 60px;
    background-color: $background-color;
    position: relative;

    .notice-title {
        font-size: 40px;
        letter-spacing: 12px;
        color: white;
    }

    .border {
        position: absolute;
        top: 300px;
        pointer-events: none;
    }

    .notes-content {
        @include flex-center;
        max-width: 1200px;
        width: 100vw;
        margin-top: 40px;
        margin-bottom: 100px;
        // background-color: #fff;
        // border: 2px solid black;

        .text {
            width: 80%;
            margin-top: 60px;
            div {
                padding: 28px;
            }
            p {
                color: white;
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 10px;
                line-height: 32px;
            }
            a {
                text-decoration: none;
                color: orange;
            }
        }
        
    }
}

.footer {
    @include flex-center;
    position: absolute;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 40px;
    text-align: center;
    color: white;
    background-color: $background-color;
}

@media (max-width: 1200px) {
    .hero {
        height: 1100px;
        .hero-main {
            margin-top: 80px;
            max-width: 860px;
        }
    }

    .logo {
        img {
            width: 120px;
        }
    }

    .week {
        height: 1000px;

        .week-content {
            width: 80vw;
        }
    }

    .shops {
        width: 100%;

        img {
            width: 100%;
        }
    }
}

@media (max-width: 990px) {
    .week {
        .week-content {
            max-width: 440px;
        }
        .gold {
            
            &.right {
                width: 580px;
                right: -324px;
                bottom: -200px;
            }
    
            &.left {
                width: 580px;
                left: -388px;
                top: 0px;
            }
        }
    }

    .shop-list {

        .shops {
            width: 100%;
            flex-wrap: wrap;
            justify-content: space-evenly;
            a {
                margin-bottom: 40px;
                img {
                    width: 100%;
                }
            }
        }
    }

    .notes {
        width: 100vw;
        padding-top: 0;
        .border {
            top: 236px;
        }
        .notes-content {
            width: 98%;
            .text {
                width: 80%;
                p {
                    font-size: 20px;
                }
            }
        }
    }

    .footer {
        bottom: 100px;
    }
}

@media (max-width: 750px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main { 
        section {
            width: 100vw;
        }
    }

    .hero-m {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 830px;
        background: top no-repeat url("../imgs/mobile/hero-bg.png");
        background-size: contain;
        background-color: $background-color;
        position: relative;

        .hero-main {
            max-width: 320px;
            width: 80vw;
            padding-left: 40px;
        }
        
        .logo {
            img {
                width: 100px;
            }
        }
    }

    .week {
        height: 480px;

        .gold {
            
            &.right {
                width: 300px;
                right: -168px;
                bottom: -80px;
            }
    
            &.left {
                width: 300px;
                left: -136px;
                top: -76px;
            }
        }
    }

    .shop-list {
        padding-bottom: 60px;
        .shop-title {
            width: 200px;
            margin: 40px 0;
        }
        .shops {
            width: 380px;
            flex-wrap: wrap;
            justify-content: space-evenly;
            a {
                width: 120px;
                height: 120px;
                img {
                    width: 100%;
                }
            }
        }
    }

    .notes {
        width: 100vw;
        img {
            width: 136px;
        }
        .notice-title {
            font-size: 20px;
            letter-spacing: 8px;
        }
        .notes-content {
            width: 368px;
            margin-top: 0px;

            .border {
                width: 372px;
                top: 100px;
            }

            .text {
                width: 372px;
                div {
                    padding: 8px 12px;
                }
                p {
                    font-size: 16px;
                    line-height: 1.2em;
                }
            }
        }
    }

    .footer {
        bottom: 40px;
    }
}
