.mobile {
  display: none;
}

body {
  position: relative;
  width: 100vw;
  font-family: Arial, sans-serif;
  color: #000;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.mobile-item {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
main section {
  width: 1200px;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1400px;
  width: 100%;
}
.notes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 160px;
  margin-bottom: 160px;
}
.notes .notes-button {
  background-color: #fff35f;
  color: #000;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 20px;
}
.notes .notes-content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100vw;
  margin-top: 40px;
  margin-bottom: 100px;
}
.notes .notes-content .text {
  width: 80%;
  border: 2px white solid;
}
.notes .notes-content .text div {
  padding: 28px;
}
.notes .notes-content .text p {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  line-height: 32px;
}
.notes .notes-content .text a {
  color: red;
}

.shop-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 160px;
}
.shop-list .shops {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.shop-list .shops > a {
  padding: 12px;
  border: 2px solid gray;
  border-radius: 24px;
  margin-right: 20px;
}

.wave {
  position: absolute;
  bottom: 0;
  right: 0;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 40px;
  text-align: center;
}

@media (max-width: 1200px) {
  .hero img {
    width: 100vw;
  }
}
@media (max-width: 990px) {
  .notes {
    width: 100vw;
  }
  .notes .notes-content {
    width: 90%;
  }
  .notes .notes-content img {
    display: none;
  }
  .notes .notes-content .text {
    width: 80%;
  }
  .notes .notes-content .text p {
    font-size: 24px;
  }
  .shop-list {
    max-width: 680px;
  }
  .shop-list .shops {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .shop-list .shops a {
    width: 240px;
    height: 240px;
    margin-bottom: 40px;
  }
  .shop-list .shops a img {
    width: 100%;
  }
  .wave {
    width: 50%;
  }
  .footer {
    bottom: 100px;
  }
}
@media (max-width: 750px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header img {
    width: 380px;
  }
  main section {
    width: 100vw;
  }
  .hero-m {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .hero-m img {
    width: 380px;
  }
  .notes {
    width: 100vw;
    margin-top: 60px;
  }
  .notes img {
    width: 136px;
  }
  .notes .notes-content {
    width: 380px;
    margin-top: 0;
  }
  .notes .notes-content img {
    display: none;
  }
  .notes .notes-content .text {
    width: 400px;
  }
  .notes .notes-content .text div {
    padding: 8px 12px;
  }
  .notes .notes-content .text p {
    font-size: 18px;
    line-height: 1.2em;
  }
  .shop-list {
    margin-top: 60px;
  }
  .shop-list .shop-title {
    width: 300px;
  }
  .shop-list .shops {
    width: 380px;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .shop-list .shops a {
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
    margin-right: 0;
  }
  .shop-list .shops a img {
    width: 100%;
  }
  footer {
    bottom: 136px;
  }
}/*# sourceMappingURL=styles.css.map */