body {
  width: 100vw;
  min-height: 4320px;
  font-family: Arial, sans-serif;
  background-image: url("../imgs/background-pc.png");
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 148px;
  padding: 20px;
  background-color: white;
}
header .logo {
  max-width: 200px;
}

.mobile-item {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  margin-top: 148px;
}
main section {
  width: 1200px;
}

.promotion {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  max-width: 1200px;
  width: 90%;
  margin-top: 1120px;
}
.promotion img {
  width: 480px;
}

.notes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 388px;
}
.notes .notes-button {
  background-color: #fff35f;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 20px;
}
.notes .notes-content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100vw;
  margin-top: 40px;
}
.notes .notes-content .text {
  width: 80%;
  border: 2px white solid;
}
.notes .notes-content .text div {
  padding: 28px;
}
.notes .notes-content .text p {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  line-height: 32px;
}

.shop-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 360px;
}
.shop-list .shops {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin-top: 180px;
}

@media (max-width: 990px) {
  body {
    background-image: url("../imgs/mobile/background-tablet.png");
    min-height: 5995px;
  }
  .mobile-hidden {
    display: none;
  }
  .promotion {
    display: none;
  }
  .notes {
    width: 100vw;
    margin-top: 3620px;
  }
  .notes .notes-content {
    width: 90%;
    height: 700px;
  }
  .notes .notes-content img {
    display: none;
  }
  .notes .notes-content .text {
    width: 80%;
  }
  .notes .notes-content .text p {
    font-size: 24px;
  }
  .shop-list {
    max-width: 680px;
    margin-top: 500px;
  }
  .shop-list .shops {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .shop-list .shops a {
    width: 240px;
    height: 240px;
    margin-bottom: 40px;
  }
  .shop-list .shops a img {
    width: 100%;
  }
}
@media (max-width: 700px) {
  body {
    min-height: 3600px;
    background-image: url("../imgs/mobile/background-mobile.png");
    background-position: center;
  }
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    padding: 0;
    background-color: white;
  }
  header .logo {
    width: 100px;
  }
  main {
    margin-top: 0px;
    overflow-x: hidden;
  }
  .notes {
    width: 100vw;
    margin-top: 2024px;
  }
  .notes .notes-content {
    width: 380px;
    height: 700px;
  }
  .notes .notes-content img {
    display: none;
  }
  .notes .notes-content .text {
    width: 400px;
    margin-top: 280px;
  }
  .notes .notes-content .text div {
    padding: 12px;
  }
  .notes .notes-content .text p {
    font-size: 18px;
    line-height: 1.2em;
  }
  .shop-list {
    margin-top: 154px;
  }
  .shop-list .shops {
    width: 380px;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .shop-list .shops a {
    width: 140px;
    height: 140px;
    margin-bottom: 20px;
  }
  .shop-list .shops a img {
    width: 100%;
  }
}/*# sourceMappingURL=styles.css.map */